code/env/
code/__pycache__/
code/lightning_logs/
code/.ipynb_checkpoints/
code/data/.ipynb_checkpoints/
code/.vscode/
code/darts_logs/
code/models/
code/results/
code/figs/
bibliografia/
memoria/.ipynb_checkpoints/
memoria/memoria.aux
memoria/memoria.bbl
memoria/memoria.bcf
memoria/memoria.blg
memoria/memoria.fdb_latexmk
memoria/memoria.fls
memoria/memoria.lof
memoria/memoria.log
memoria/memoria.lot
memoria/memoria.out
memoria/memoria.run.xml
memoria/memoria.synctex.gz
memoria/memoria.toc
memoria/output.xmpdata
memoria/pdfa.xmpi
memoria/memoria.pdf
memoria/1-introduccion.aux
memoria/2-marcoteorico.aux
